/Arrays.java
/Aufgabe4.class
/Aufgabe4.java
/Cheatsheet.java
/Comparison.java
/EinstiegTag4.java
/Ifelse.java
/Logical.class
/Logical.java
/Math.class
/Ort.java
/Switch.java
/Temperatur (copy).class
/Temperatur (copy).java
/Temperatur.class
/Temperatur.java
/Test (Kopie).java
/Test (copy).class
/Test.java
/UserInput.class
/UserInput.java
/cheatsheet.java
/com.name.java
/com.terashy
/dataType.java
/emi.java
/forLoop.java
/meli.class
/meli.java
/name.class
/number.java
/testnew.java
/testnews.java
/thez.java
/unbenannt (copy).class
/unbenannt (copy).java
/unbenannt.class
/unbenannt.java